[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ICvectorfields"]
	path = ICvectorfields
	url = https://github.com/goodsman/icvectorfields
